:root {
    --primary: #f5ebe0;
    --secondary: #d5bdaf;
    --accent1: #d6ccc2;
    --accent2: #edede9;

    --bee-yellow: #FFD301;
    /* Primary: use for highlights, buttons, accents.1 */
    --bee-orange: #EF9502;
    /* Button Hover: hover effects or call-to-action buttons.*/
    --bee-gray: #CBCFC7;
    /* Secondary: use for backgrounds */
    --bee-blue: #B7D5DF;
    --bee-light: #DDEFF2;
}

body,
h1,
h2,
h3 {
    font-family: 'Mulish', sans-serif;
}

.lead {
    font-weight: 300;
    border-top: 2px solid var(--bee-orange);
}

.the-z {
    color: white;
    text-shadow: var(--bee-orange) 2px 2px 2px;
}

header {
    background-color: var(--primary);
}

.card-header, .form-bg {
    background-color: var(--bee-gray);
}

.r_link {
    color: #ffc107;
}

.bg-forms {
    background-color: RGBA(var(--bs-dark-rgb));
}

.dashboard {
    background-color: var(--bee-gray);
}

.collapse.show + .bi-chevron-down {
    transform: rotate(180deg); 
}

.z {
    color: var(--primary);
}

.nav-link.hover-underline {
    position: relative;
    transition: color 0.2s ease;
}

.nav-link.hover-underline::after {
    content: "";
    position: absolute;
    left: 1rem;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #ffc107;
    /* yellow color like warning button */
    transition: width 0.3s ease;
}

.nav-link.hover-underline:hover::after {
    width: 70%;
}

@media print {
    .no-print {
        display: none !important;
    }
}

