<main class="container py-4">
    <div class="d-flex justify-content-center align-items-center min-vh-50">
        <div class="card shadow-lg p-4 fadeInUp" style="max-width: 650px; width: 100%;">
            <div class="py-3">
                <h1 class="h3 fw-bold pb-3 text-center"><i class="fas fa-user-shield"></i> Privacy Policy</h1>
                <p>ZCleaning only collects personal info you provide, such as name, address,
                    or payment method. This info is only used to manage cleanings and
                    process payments. We never sell or share your data.
                </p>
            </div>
        </div>
    </div>
</main>