<div class="no-print">
    <header
        class="d-flex flex-column align-items-center justify-content-center header-info p-3">    
        <h1 class="display-4">Welcome to <span class="the-z">Z</span>cleaning</h1>
        <p class="lead">Your one-stop solution for all your needs</p>
        <span class="text-muted" id="currentDate"></span>        
    </header>
</div>